#about {
    min-width: 320px;
    flex-direction: column;
    #img-about {
            flex-direction: column;
        img {
            flex-direction: column;
            width:895px;
            height: 599px;
            position: relative;
        }
    }
    h1 {
        flex-direction: column;
    }
    #description_about {
        flex-direction: column;
    }
}