#about {
    flex-direction: column;
    width: 100%;
    z-index: 1;
    img {
        top: 0;
        width: 250vw;
        margin-left: -165px;
    }
    #content {
        flex-direction: column;
        width: 100vw;
        margin: 0;
        margin-top: -100px;
        h1 {
            font-size: 28px;
            font-weight: 600;
            margin: 0;
            margin-left: var(--mspace);
            color: var(--white);
        }
        p {
            font-family: EBGaramond;
            font-size: 14px;
            width: 100%;
            padding-top: 20px;
            padding-left: var(--mspace);
            padding-right: var(--mspace);
            margin: 0;
            background-color: var(--orange-70);
            &:last-child {
                padding-bottom: 50px;
            }
        }
    }
}

@media (min-width: 1200px) {
    #about {
        flex-direction: row;
        justify-content: flex-end;
        align-items: flex-start;
        position: relative;
        width: 100%;
        img {
            margin: 0;
            margin-top: -220px;
        }
        #content {
            position: absolute;
            width: 420px;
            top: 100px;
            background-color: rgba($color: #000000, $alpha: .8);
            h1 {
                color: var(--orange-70);
                margin-top: 60px;
            }
            p {
                background-color: transparent;
                font-size: 22px;
                color: var(--white);
                text-align: justify;
                padding: 20px;
            }
        }
    }
    #footer {
        display: none;
    }
}