#about {
    flex-direction: column;
    width: 250%;
    img {
        width: 100%;
        top: 0;
        margin-left: -165px;
    }
    #content {
        flex-direction: column;
        width: 100vw;
        margin: 0;
        margin-top: -100px;
        }
        h1 {
            font-size: 28px;
            font-weight: 600;
            margin: 0;
            margin-left: var(--mspace);
            color: var(--white);
        }
        p {
            font-family: EBGaramond;
            font-size: 14px;
            width: 100%;
            padding-left: var(--mspace);
            padding-right: var(--mspace);
            &:first {
                padding-top: 20px;
            }
            margin: 0;
            background-color: var(--orange-70);
            &:last-child {
                padding-bottom: 50px;
            }
        }
    
}