#form-contact {

    flex-direction: column;
    form {
        flex-direction: column;
        h2 {
            @include mtitle;
        }
        p {
            text-align: center;
            color: var(--gray);
            font-size: 16px;
            margin-bottom: 20px;
        }
        .fields {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 0;
            margin: 0 var(--mspace);
        }
        .field {
            position: relative;
            flex-direction: column;
            width: 100%;
            margin-bottom: 10px;
            label {
                font-size: 22px;
                color: var(--gray);
                position: absolute;
                top: 5px;
                bottom: 10px;
                left: 10px;
            }
            input, textarea, select {
                height: 70px;
                border: var(--gray) 2px solid;
                line-height: 1.5em;
                padding-left: 10px;
                background-color: transparent;
                color: var(--black);
                font-size: 24px;
                &.message {
                    height: 150px;
                }
            }
        }
        a {
            @include green-button;
            margin: 30px 0;
        }
    }
    #how-to-arrive {
        flex-direction: column;
        margin-top: 40px;
        div {
            justify-content: space-around;
            div {
                flex-direction: column;
                align-items: center;
                text-align: center;
                img {
                    width: 40px;
                    height: 40px;
                    margin-bottom: 10px;
                }
                span {
                    font-size: 16px;
                    font-weight: 600;
                    small {
                        font-size: 14px;
                        font-weight: 400;
                    }
                }

            }
        }
    }
    #google-map {
        width: 100%;
        margin: 0;
        padding: 0;
    }
}

@media (min-width: 1200px) {
    #form-contact {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        form {
            padding: 0 20px;
            h2 {
                @include dtitle
            }
            p {
                font-size: 24px;
                padding: 20px;
            }
        }
        #how-to-arrive {
            flex-direction: column;
            div {
                flex-direction: row;
            }
        }
    }
}