* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Josefin Sans';
    font-style: normal; 
    font-weight: 400;
}
body, div, article, aside, footer, header, main, nav, section, ul, ol, li, button, figure, picture, hr{
    display: flex;
}