#error {
    width: 100%;
    height: 77vh;
    flex-direction: column;
    display: flex;
    align-items: center;
    img {
        position: absolute;
        margin-top: 0;
        width: 250%;
        margin-left: 125px;
        z-index: 1;
    }
    .notice {
        flex-direction: column;
        margin-top: 100px;
        z-index: 2;
        span {
            font-size: 36px;
            font-weight: 600;
            color: var(--red);
            text-align: left;
            &:last-child {
                font-size: 24px;
                margin-top: 350px;
            }
        }
    }
}