#footer {
    width: 100%;
    height: 305px;
    flex-direction: column;
    margin: 0%;
    background-color: var(--brown-100);
    #contact {
        flex-direction: column;
        font-family: EBGaramond;
        padding: 0 var(--mspace);
        ul {
            width: 100%;
            margin: 0;
            flex-direction: column;

            #title {
                font-size: 20px;
                text-transform: uppercase;
                margin: 20px 0;
            }
            li {
                width: 100%;
                margin-bottom: 0;
                font-family: EBGaramond;
                font-size: 16px;
                color: var(--white);
                font-weight: 600;
                margin-bottom: 5px;
                img {
                    margin: 0;
                    flex-direction: row;
                    margin-right: 10px;
                }
            }
        }
        #white-logo {
            flex-direction: column;
            justify-content: center;
            p {
                font-family: EBGaramond;
                font-size: 18px;
                color: var(--white);
                justify-content: center;
                text-align: center;
            }
        }
    }
}