#header {
    width: 100%;
    height: 342px;
    flex-direction: column;
    position: relative;
    background-color: var(--red);
    #items-header {
        width: 100vw;
        flex-direction: column;
        #top-header {
            position: absolute;
            margin-top: 26px;
            right: 0;
            padding: var(--mspace);
        }
        #top-logomix {
            width: 150px;
            margin-top: 48px;
            position: absolute;
            right: calc(50% - 75px);
            z-index: 2;
        }
    }
    #main-photos {
        display: flex;
        flex-direction: column;
        margin-top: 92px;
        z-index: 1;
        img {
            width: 100vw;
        }
        h1 {
            font-size: 28px;
            text-align: center;
            font-weight: 600;
            color: var(--white);
            background-color: transparent;
            margin-top: -65px;
            text-shadow: var(--black) 0 2px 4px;
        }
    }
}
