#header {
    display: flex;
    width: 100%;
    height: 92px;
    flex-direction: column;
    position: relative;
    background-color: var(--red);
    #items-header {
        display: flex;
        width: 100vw;
        flex-direction: column;
        #top-header {
            position: absolute;
            margin-top: 26px;
            right: 0;
            padding: var(--mspace);
        }
        #top-logomix {
            width: 150px;
            margin-top: 48px;
            position: absolute;
            right: calc(50% - 75px);
            z-index: 2;
        }
    }
}
