#home {
    flex-direction: column;
    min-width: 320px;
    width: 100%;

    #main-photos {
        display: flex;
        flex-direction: column;
        width: 100%;
        img {
            width: 100%;
        }
        h1 {
            font-family: JosefinSans;
            font-size: 28px;
            font-weight: 600;
            color: var(--white);
            text-align: center;
            margin-top: -70px;
        }
    }
    > h2 {
        @include mtitle;
        margin: 10px 0;
        justify-content: center;
    }

    #our-menu {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .our-menus {
            flex-direction: column;
            justify-items: center;
            position: relative;
            border: none;
            .in-menu {
                width: 100vw;
                height: 128px;
                background-color: var(--red);
                margin: var(--mspace);
                padding: var(--mspace);
                align-items: center;
                .menu-title {
                    flex-direction: column;
                    width: 30%;
                    justify-content: center;
                    > hr {
                        border: 0;
                        padding: 0;
                        border-top: var(--orange-100) solid 2px;
                        width: 36px;
                        align-self: center;
                    }
                    h3 {
                        margin-left: 18px;
                        width: 30%;
                        text-transform: uppercase;
                        color: var(--white);
                        a {
                            text-align: center;
                            text-decoration: none;
                            color: white;
                        }
                    }
                }
                p {
                    flex: 1;
                    font-family: EBGaramond;
                    text-align: center;
                    font-size: 16px;
                    color: var(--white);
                    z-index: 1;
    
                }
        
                img {
                    position: absolute;
                    margin-top: 17px;
                    height: 93px;
                    right: 27px;
                }
            }
        }
        > a {
            @include green-button;
            margin-top: 7px;
            align-items: center;
            justify-content: center;
        }
    }
}
@media (min-width: 1380px) {
    #home {
        position: initial;
        #main-photos {
            display: flex;
            width: 100%;
            flex-direction: column;
            > img {
                position: absolute;
                margin-top: -330px;
            }
            h1 {
                font-size: 100px;
                margin-bottom: 0                                           ;
                width: 50%;
                margin-top: 600px;
                margin-bottom: 140px;
                align-self: flex-end;
                z-index: 2;
            }
        }
        
        h2 {
            @include dtitle
        }

        #our-menu {
            width: 100%;
            align-items: center;
            justify-content: center;
            .our-menus {
                width: 1240px;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                .in-menu {
                    flex-direction: column;
                    width: 360px;
                    height: 450px;
                    align-items: flex-start;
                    justify-content: center;
                    position: initial;
                    width: 100%;
                    .menu-title {
                        > hr {
                            margin-top: 55px;
                            border: none;
                            border-top: var(--orange-100) solid 4px;
                            width: 60px;
                        }
                        h3 {
                            font-family: HBGaramond;
                            font-size: 32px;
                            text-transform: uppercase;
                            margin-bottom: 45px;
                            z-index: 1;
                            text-shadow: var(--black) 1px 2px 3px;
                            > a {
                                text-align: center;
                                text-decoration: none;
                                color: white;
                            }
                        }
                    }
                    p {
                        font-family: JosefinSans;
                        margin: 0;
                        padding: 0;
                        font-size: 22px;
                        z-index: 1;
                        text-shadow: var(--black) 1px 1px 1px;
                    }
                    img {
                        position: relative;
                        justify-content: space-around;
                        margin-top: -175px;
                        height: 360px;
                        margin-left: 18px;
                        padding-left: 10px;
                    }
                }
            }
            > a {
                margin-top: 70px;
            }
        }
    }
}