#our-reservation {
    min-width: 320px;
    height: 500px;
    width: 100%;
    flex-direction: column;
    background-color: var(--red);
    padding: 0 var(--mspace);
    form {
        h2 {
            font-family: JosefinSans;
            font-size: 28px;
            font-weight: 600;
            color: var(--orange-100);
            text-shadow: var(--black) 0 1px 1px;
            text-transform: uppercase;
            text-align: center;
            margin: 50px 0;
    
        }
        .fields {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 0;
        }
        .field {
            position: relative;
            flex-direction: column;
            width: 250px;
            margin-bottom: 50px;
            label {
                font-size: 22px;
                color: var(--white);
                position: absolute;
                top: 10px;
                bottom: 10px;
                left: 10px;
            }
            input, textarea, select {
                border: var(--white) 2px solid;
                line-height: 1.5em;
                padding-bottom: 10px;
                padding-left: 70px;
                background-color: transparent;
                color: var(--white);
                font-size: 16px;
            }
            input, select {
                color: transparent;
            }
        }
    }
    a {
        @include green-button;
        margin-bottom: 30px;
    }
}