#our-units {
    width: 100vw;
    flex-direction: column;
    h2 {
        @include mtitle;
    }
    .rio-de-janeiro-invite {
        flex-direction: column;
        p {
            margin: 0;
            font-family: EBGaramond;
            font-size: 16px;
            text-align: justify;
            margin: 0px 30px;
        }
        .rio-de-janeiro-photo {
            flex-direction: column;
            h3 {
                font-size: 22px;
                color: var(--orange-100);
                margin: 0 var(--mspace);
                margin-top: 20px;
            }
            img {
                width: 100%;
                margin-bottom: 20px;
            }
    }
    }
    .our-units-photos {
        flex-direction: column;
        .cities {
            flex-direction: column;
            width: calc(100vw - 20px);
            margin:  var(--mspace);
            border: 1px solid var(--gray);
            align-items: center;
            h4 {
               font-size: 16px; 
               color: var(--gray);
               margin: 0;
               padding: 7px 0;
            }
            img {
                width: 95%;
                margin-bottom: 7px;
            }
        }
    }
}

@media (min-width: 1380px) {
    #our-units {

        h2 {
            @include dtitle;
        }
        .rio-de-janeiro-invite {
            margin: 0 var(--dspace);
            flex-direction: row-reverse;
            align-items: center;
            p {
                font-family: EBGaramond;
                font-size: 40px;
                font-weight: 300;
                width: 50%;
                padding: 50px;
                align-items: center;
            }
            .rio-de-janeiro-photo {
                h3 {
                    font-size: 48px;
                }
                img {
                    margin: 0;
                }

            }
        }
        .our-units-photos {
            flex-direction: row;
        }
    }
}