   :root {
    --white: #FFF;
    --bg-color: #FFF;
    --black: #000;
    --black-1:#000000BF;
    --gray: #707070;
    --red: #A13B16;
    --brown-50: #F1C59D;
    --brown-100: #610802;
    --yellow: #F1C40F;
    --brown-t:  #b8945D;
    --orange-50: #F7DFC9;
    --orange-70: #F1C59D;
    --orange-90: #D47119;
    --orange-100: #E67D20;
    --orange-hv: #BC5F0D;
    --orange-act: #EB903F;
    --green-hv: #2A9758;
    --green-act: #1FC967;
    --green-90: #27AE60;
    --green-100: #16A085;

    --mspace: 10px;
    --dspace: 40px;
}