:root {
    --bg-color: #FFF;
    --black: #000;
    --gray: #707070;
    --red: #A13B16;
    --brown-50: #F1C59D;
    --brown-100: #610802;
    --yellow: #F1C40F;
    --orange-50: #F7DFC9;
    --orange-70: #F1C59D;
    --orange-100: #E67D20;
    --gree-50: #C3F3D8;
    --green-90: #27AE60;
    --green-100: #16A085;

    --mspace: 10px;
    --dspace: 40px;
}