@font-face {
  font-family: "JosefinSans";
  src: local("JosefinSans Light"), url("../fonts/JosefinSans-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "JosefinSans";
  src: local("JosefinSans Regular"), url("../fonts/JosefinSans-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "JosefinSans";
  src: local("JosefinSans SemiBold"), url("../fonts/JosefinSans-SemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "JosefinSans";
  src: local("JosefinSans Bold"), url("../fonts/JosefinSans-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: "EBGaramond";
  src: local("EB Garamond Regular"), url("../fonts/EBGaramond-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "EBGaramond";
  src: local("EB Garamond Regular"), url("../fonts/EBGaramond-SemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
}
:root {
  --white: #FFF;
  --bg-color: #FFF;
  --black: #000;
  --black-1:#000000BF;
  --gray: #707070;
  --red: #A13B16;
  --brown-50: #F1C59D;
  --brown-100: #610802;
  --yellow: #F1C40F;
  --orange-50: #F7DFC9;
  --orange-70: #F1C59D;
  --orange-90: #D47119;
  --orange-100: #E67D20;
  --gree-50: #C3F3D8;
  --green-90: #27AE60;
  --green-100: #16A085;
  --mspace: 10px;
  --dspace: 40px;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
}

body, div, article, aside, footer, header, main, nav, section, ul, ol, li, button, figure, picture, hr {
  display: flex;
}

body {
  margin: 0;
  flex-direction: column;
  background-color: var(--bg-color);
}
body > main {
  min-height: calc(100vh - 397px);
}

.header {
  flex-direction: column;
  background-color: var(--red);
  height: 92px;
  position: relative;
}
.header #items-header {
  width: 100%;
  display: flex;
}
.header #items-header .menu-header {
  position: absolute;
  margin-top: 26px;
  right: 10px;
  padding: var(--mspace);
}
.header #items-header .top-logomix {
  width: 150px;
  margin-top: 48px;
  position: absolute;
  right: calc(50% - 75px);
  z-index: 2;
}
.header .menu {
  transition: top 1s ease-in-out;
  z-index: 2;
  position: absolute;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding-bottom: 50px;
  top: -100vh;
  flex-direction: column;
  align-items: center;
  background-color: var(--red);
}
.header .menu .menu-header {
  width: 40px;
  position: absolute;
  margin-top: 26px;
  right: 10px;
  padding: var(--mspace);
}
.header .menu .top-logomix {
  align-items: center;
  width: 200px;
  margin-top: 50px;
}
.header .menu nav {
  position: absolute;
  top: 150px;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}
.header .menu nav ul {
  margin: 0;
  padding: 0;
  flex-direction: column;
  align-items: center;
}
.header .menu nav ul li {
  font-size: 25px;
  margin-top: 30px;
}
.header .menu nav ul a {
  text-decoration: none;
  color: var(--white);
}
.header .menu footer {
  flex-direction: column;
  bottom: 30px;
  width: 100%;
}
.header .menu footer hr {
  margin-bottom: 20px;
  width: calc(100% - 20px);
  margin-top: 30px;
  border: 0;
  border-top: solid var(--brown-100) 1px;
}
.header .menu footer .logged-user {
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.header .menu footer .logged-user .data-user {
  flex-direction: column;
  color: var(--white);
  margin: 0 var(--mspace);
}
.header .menu footer .logged-user img {
  margin-left: 20px;
}
.header .menu.logged nav ul li hr {
  display: flex;
}
.header .menu.logged nav ul li.logged-user {
  display: flex;
}

.opened-menu .header .menu {
  top: 0;
}

#home {
  flex-direction: column;
  min-width: 320px;
  width: 100%;
}
#home #main-photos {
  display: flex;
  flex-direction: column;
  width: 100%;
}
#home #main-photos img {
  width: 100%;
}
#home #main-photos h1 {
  font-family: JosefinSans;
  font-size: 28px;
  font-weight: 600;
  color: var(--white);
  text-align: center;
  margin-top: -70px;
}
#home #our-menu {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#home #our-menu h2 {
  color: var(--gray);
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  margin: 40px 0;
  justify-content: center;
}
#home #our-menu .our-menus {
  flex-direction: column;
  justify-items: center;
  text-decoration: transparent;
  position: relative;
  border: none;
}
#home #our-menu .our-menus .in-menu {
  width: 100vw;
  height: 128px;
  background-color: var(--red);
  margin: var(--mspace);
  padding: var(--mspace);
}
#home #our-menu .our-menus .in-menu .menu-title {
  width: 30%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#home #our-menu .our-menus .in-menu .menu-title hr {
  margin: 0;
  width: 36px;
  height: 0;
  top: 35px;
  border-top: var(--orange-100) solid 3px;
}
#home #our-menu .our-menus .in-menu .menu-title h3 {
  margin-left: 10px;
  text-align: center;
  text-transform: uppercase;
  color: var(--white);
}
#home #our-menu .our-menus .in-menu .menu-title h3 a {
  text-decoration: none;
  color: white;
}
#home #our-menu .our-menus p {
  width: 70%;
  font-family: EBGaramond;
  text-align: center;
  font-size: 16px;
  color: var(--white);
  margin-right: 30px;
  z-index: 1;
}
#home #our-menu .our-menus img {
  position: absolute;
  margin-top: 17px;
  height: 93px;
  right: 27px;
}
#home #our-menu > a {
  min-width: 150px;
  width: 200px;
  border: none;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  background: transparent;
  color: var(--bg-color);
  background-color: var(--green-90);
  color: var(--white);
  margin-top: 7px;
  align-items: center;
  justify-content: center;
}
#home #our-menu > a:hover {
  background-color: var(--green-100);
}
#home #our-menu > a:active {
  background-color: var(--green-50);
}
#home #our-menu > a:hover {
  background-color: var(--green-50);
}
#home #our-menu > a:active {
  background-color: var(--green-100);
}

#our-units {
  width: 100vw;
  flex-direction: column;
}
#our-units h2 {
  color: var(--gray);
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  margin: 40px 0;
}
#our-units hr {
  width: 100vw;
  margin: 0;
  border-top: var(--gray) dashed 2px;
}
#our-units p {
  font-family: EBGaramond;
  font-size: 16px;
  text-align: center;
  margin: 20px 40px;
}
#our-units h3 {
  font-size: 22px;
  color: var(--orange-100);
  margin: 0 var(--mspace);
  margin-top: 20px;
}
#our-units img {
  width: 100%;
  margin-bottom: 20px;
}
#our-units .our-units-photos {
  flex-direction: column;
}
#our-units .our-units-photos .cities {
  flex-direction: column;
  width: calc(100vw - 20px);
  margin: var(--mspace);
  border: 1px solid var(--gray);
  align-items: center;
}
#our-units .our-units-photos .cities h4 {
  font-size: 16px;
  color: var(--gray);
  margin: 0;
  padding: 7px 0;
}
#our-units .our-units-photos .cities img {
  width: 95%;
  margin-bottom: 7px;
}

#our-reservation {
  min-width: 320px;
  height: 500px;
  width: 100%;
  flex-direction: column;
  background-color: var(--red);
  padding: 0 var(--mspace);
}
#our-reservation form h2 {
  font-family: JosefinSans;
  font-size: 28px;
  font-weight: 600;
  color: var(--orange-100);
  text-shadow: var(--black) 0 1px 1px;
  text-transform: uppercase;
  text-align: center;
  margin: 50px 0;
}
#our-reservation form .fields {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
}
#our-reservation form .field {
  position: relative;
  flex-direction: column;
  width: 250px;
  margin-bottom: 50px;
}
#our-reservation form .field label {
  font-size: 22px;
  color: var(--white);
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 10px;
}
#our-reservation form .field input, #our-reservation form .field textarea, #our-reservation form .field select {
  border: var(--white) 2px solid;
  line-height: 1.5em;
  padding-bottom: 10px;
  padding-left: 70px;
  background-color: transparent;
  color: var(--white);
  font-size: 16px;
}
#our-reservation form .field input, #our-reservation form .field select {
  color: transparent;
}
#our-reservation a {
  min-width: 150px;
  width: 200px;
  border: none;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  background: transparent;
  color: var(--bg-color);
  background-color: var(--green-90);
  color: var(--white);
  margin-bottom: 30px;
}
#our-reservation a:hover {
  background-color: var(--green-100);
}
#our-reservation a:active {
  background-color: var(--green-50);
}
#our-reservation a:hover {
  background-color: var(--green-50);
}
#our-reservation a:active {
  background-color: var(--green-100);
}

#form-contact {
  flex-direction: column;
}
#form-contact form {
  flex-direction: column;
}
#form-contact form h2 {
  color: var(--gray);
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  margin: 40px 0;
}
#form-contact form p {
  text-align: center;
  color: var(--gray);
  font-size: 16px;
  margin-bottom: 20px;
}
#form-contact form .fields {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0 var(--mspace);
}
#form-contact form .field {
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 70px;
  margin-bottom: 10px;
}
#form-contact form .field label {
  font-size: 22px;
  color: var(--gray);
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 10px;
}
#form-contact form .field input, #form-contact form .field textarea, #form-contact form .field select {
  height: 70px;
  border: var(--gray) 2px solid;
  line-height: 1.5em;
  padding-bottom: 10px;
  padding-left: 70px;
  background-color: transparent;
  color: var(--white);
  font-size: 16px;
}
#form-contact form .field #message {
  height: 250px;
}
#form-contact form .field input, #form-contact form .field select {
  color: transparent;
}
#form-contact a {
  min-width: 150px;
  width: 200px;
  border: none;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  background: transparent;
  color: var(--bg-color);
  background-color: var(--green-90);
  color: var(--white);
  margin-top: 20px;
  margin-bottom: 50px;
}
#form-contact a:hover {
  background-color: var(--green-100);
}
#form-contact a:active {
  background-color: var(--green-50);
}
#form-contact a:hover {
  background-color: var(--green-50);
}
#form-contact a:active {
  background-color: var(--green-100);
}
#form-contact #how-to-arrive {
  height: 110px;
  position: relative;
  margin-bottom: 20px;
  justify-content: space-around;
}
#form-contact #how-to-arrive div {
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
#form-contact #how-to-arrive div img {
  justify-content: center;
  width: 35px;
  top: 10px;
}
#form-contact #how-to-arrive div p {
  font-size: 18px;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--gray);
}
#form-contact #how-to-arrive div p strong {
  font-size: 16px;
  font-weight: 400;
}
#form-contact #google-map {
  width: 100%;
  margin: 0;
  padding: 0;
}

#footer {
  width: 100%;
  height: 305px;
  flex-direction: column;
  margin: 0;
  padding: 0;
  margin-right: 0;
  position: relative;
  background-color: var(--brown-100);
  z-index: 1;
}
#footer button {
  position: absolute;
  right: var(--mspace);
  background-color: var(--orange-50);
  box-shadow: var(--black) 0 3px 6px;
  border: none;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  outline: none;
  justify-content: center;
  align-items: center;
  top: -35px;
  z-index: 1;
  cursor: pointer;
}
#footer button:hover {
  background-color: var(--white);
}
#footer #contact {
  flex-direction: column;
  font-family: EBGaramond;
  padding: 0 var(--mspace);
}
#footer #contact ul {
  width: 100%;
  margin: 0;
  padding: 0;
  flex-direction: column;
}
#footer #contact ul #title {
  font-size: 20px;
  text-transform: uppercase;
  margin: 20px 0;
}
#footer #contact ul li {
  width: 100%;
  margin-bottom: 0;
  font-family: EBGaramond;
  font-size: 16px;
  color: var(--white);
  font-weight: 600;
}
#footer #contact ul li img {
  margin: 0;
  flex-direction: row;
  margin-right: 10px;
}
#footer #contact #white-logo {
  width: 100%;
  margin: 0;
  padding: 0;
  flex-direction: column;
  justify-content: center;
}
#footer #contact #white-logo img {
  margin-top: 15px;
}
#footer #contact #white-logo p {
  font-family: EBGaramond;
  font-size: 18px;
  color: var(--white);
  justify-content: center;
  text-align: center;
}

#about {
  flex-direction: column;
  width: 250%;
}
#about img {
  width: 100%;
  top: 0;
  margin-left: -165px;
}
#about #content {
  flex-direction: column;
  width: 100vw;
  margin: 0;
  margin-top: -100px;
}
#about h1 {
  font-size: 28px;
  font-weight: 600;
  margin: 0;
  margin-left: var(--mspace);
  color: var(--white);
}
#about p {
  font-family: EBGaramond;
  font-size: 14px;
  width: 100%;
  padding-top: 20px;
  padding-left: var(--mspace);
  padding-right: var(--mspace);
  margin: 0;
  background-color: var(--orange-70);
}
#about p:last-child {
  padding-bottom: 50px;
}

#menu {
  flex-direction: column;
}
#menu .section-menu {
  flex-direction: column;
}
#menu .items-section {
  flex-direction: column;
}
#menu .items-section .item-menu {
  flex-direction: line;
}
#menu .items-section .item-menu .line-menu {
  align-items: center;
  width: 380px;
  overflow: hidden;
}

#error {
  width: 100%;
  height: 77vh;
  flex-direction: column;
  display: flex;
  align-items: center;
}
#error img {
  position: absolute;
  margin-top: 0;
  width: 250%;
  margin-left: 125px;
  z-index: 1;
}
#error .notice {
  flex-direction: column;
  margin-top: 100px;
  z-index: 2;
}
#error .notice span {
  font-size: 36px;
  font-weight: 600;
  color: var(--red);
  text-align: left;
}
#error .notice span:last-child {
  font-size: 24px;
  margin-top: 350px;
}

/*# sourceMappingURL=main.css.map */
