@font-face {
  font-family: "JosefinSans";
  src: local("JosefinSans Light"), url("../fonts/JosefinSans-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "JosefinSans";
  src: local("JosefinSans Regular"), url("../fonts/JosefinSans-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "JosefinSans";
  src: local("JosefinSans SemiBold"), url("../fonts/JosefinSans-SemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "JosefinSans";
  src: local("JosefinSans Bold"), url("../fonts/JosefinSans-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: "EBGaramond";
  src: local("EB Garamond Regular"), url("../fonts/EBGaramond-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "EBGaramond";
  src: local("EB Garamond Regular"), url("../fonts/EBGaramond-SemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
}
:root {
  --white: #FFF;
  --bg-color: #FFF;
  --black: #000;
  --black-1:#000000BF;
  --gray: #707070;
  --red: #A13B16;
  --brown-50: #F1C59D;
  --brown-100: #610802;
  --yellow: #F1C40F;
  --orange-50: #F7DFC9;
  --orange-70: #F1C59D;
  --orange-90: #D47119;
  --orange-100: #E67D20;
  --orange-hv: #BC5F0D;
  --orange-act: #EB903F;
  --green-hv: #2A9758;
  --green-act: #1FC967;
  --green-90: #27AE60;
  --green-100: #16A085;
  --mspace: 10px;
  --dspace: 40px;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
}

body, div, article, aside, footer, header, main, nav, section, ul, ol, li, button, figure, picture, hr {
  display: flex;
}

body {
  margin: 0;
  flex-direction: column;
  background-color: var(--bg-color);
}
body > main {
  min-height: calc(100vh - 397px);
}

hr.divider {
  background-color: var(--brown-100);
  height: 1px;
  width: calc(100% - 2em);
  margin: 3em 0;
  border: none;
  align-self: center;
}

#header {
  min-width: 320px;
  width: 100%;
  flex-direction: column;
  background-color: var(--red);
  height: 92px;
  position: relative;
}
#header .logomix {
  transition: all 1s ease-in-out;
  position: absolute;
  width: 150px;
  top: 48px;
  left: calc(50vw - 75px);
  z-index: 3;
}
#header button {
  background: none;
  border: none;
  outline: none;
  padding: var(--mspace);
}
#header #open-btn, #header #close-btn {
  position: absolute;
  margin-top: 16px;
  right: 10px;
  padding: var(--mspace);
}
#header #close-btn {
  display: none;
  z-index: 4;
}
#header .menu {
  transition: top 1s ease-in-out;
  z-index: 2;
  position: fixed;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding-bottom: 50px;
  top: -100vh;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: var(--red);
}
#header .menu .menu-header {
  width: 40px;
  position: absolute;
  margin-top: 26px;
  right: 10px;
  padding: var(--mspace);
}
#header .menu nav {
  position: absolute;
  top: 150px;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}
#header .menu nav ul {
  margin: 0;
  padding: 0;
  flex-direction: column;
  align-items: center;
}
#header .menu nav ul li {
  font-size: 25px;
  margin-top: 30px;
}
#header .menu nav ul a {
  text-decoration: none;
  color: var(--white);
}
#header .menu .footer {
  display: flex;
  position: absolute;
  bottom: 30px;
  flex-direction: column;
  margin: 0 var(--mspace);
  width: 100%;
}
#header .menu .footer hr {
  margin-bottom: 20px;
  width: calc(100% - 20px);
  margin-top: 30px;
  margin-right: var(--mspace);
  border: 0;
  border-top: solid var(--brown-100) 1px;
}
#header .menu .footer > div, #header .menu .footer hr {
  align-items: center;
  margin-top: 20px;
  margin: var(--mspace);
  width: min-content;
  display: flex;
}
#header .menu .footer > div picture, #header .menu .footer hr picture {
  padding: var(--mspace);
  width: 40px;
}
#header .menu .footer > div div, #header .menu .footer hr div {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}
#header .menu .footer > div div a, #header .menu .footer hr div a {
  margin: 0 40px 0 20px;
  flex-direction: column;
}
#header .menu .footer > div a, #header .menu .footer hr a {
  color: var(--white);
  text-decoration: none;
  color: var(--white);
}

.opened-menu {
  overflow: hidden;
}
.opened-menu #header #open-btn {
  display: none;
}
.opened-menu #header #close-btn {
  display: flex;
  z-index: 3;
}
.opened-menu #header .menu {
  top: 0;
}
.opened-menu #header .logomix {
  top: 500px;
  width: 200px;
  left: calc(50vw - 100px);
}

.logged #header .menu .footer {
  display: flex;
}
.logged #header .menu nav ul li#logged-hide {
  display: none;
}

@media (min-width: 1200px) {
  #header {
    width: 100%;
    flex-direction: column;
    background-color: var(--red);
    height: 113px;
    position: relative;
  }
  #header .logomix {
    transition: all 1s ease-in-out;
    position: absolute;
    width: 250px;
    left: 15px;
    top: 40px;
    z-index: 3;
  }
  #header #open-btn, #header #close-btn {
    display: none;
  }
  #header .menu {
    top: initial;
    position: static;
    width: 100%;
    height: 113px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0;
  }
  #header .menu nav {
    width: 100%;
    position: initial;
    margin-left: 300px;
    justify-content: center;
  }
  #header .menu nav ul {
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
  }
  #header .menu nav ul li {
    margin-top: 0;
  }
  #header .menu nav ul li a {
    font-size: 20px;
    font-weight: 400;
    min-width: 140px;
    padding: var(--mspace) 0;
    text-align: center;
  }
  #header .menu nav ul li a:hover {
    color: var(--orange-100);
  }
  #header .menu .footer {
    position: initial;
  }
  #header .menu .footer hr {
    display: none;
  }
}
#home {
  flex-direction: column;
  min-width: 320px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
#home .photo {
  flex-direction: column;
  align-items: flex-end;
}
#home .photo img {
  width: 100%;
}
#home .photo h1 {
  width: 70%;
  font-family: JosefinSans;
  font-size: 28px;
  font-weight: 600;
  color: var(--white);
  text-align: center;
  margin-top: -79px;
}
#home > h2 {
  color: var(--gray);
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  margin: 40px 0;
  margin: 10px 0;
  justify-self: left;
}
#home #our-menu {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#home #our-menu .our-menus {
  flex-direction: column;
  justify-items: center;
  position: relative;
  border: none;
}
#home #our-menu .our-menus .in-menu {
  width: 100vw;
  height: 128px;
  background-color: var(--red);
  margin-bottom: var(--mspace);
  padding: var(--mspace);
  justify-content: center;
  align-items: center;
}
#home #our-menu .our-menus .in-menu .menu-title {
  flex-direction: column;
  width: 30%;
  justify-content: center;
  align-items: center;
}
#home #our-menu .our-menus .in-menu .menu-title > hr {
  border: 0;
  padding: 0;
  border-top: var(--orange-100) solid 2px;
  width: 36px;
  align-self: center;
}
#home #our-menu .our-menus .in-menu .menu-title h3 {
  margin-top: 20px;
  text-transform: uppercase;
  color: var(--white);
}
#home #our-menu .our-menus .in-menu .menu-title h3 a {
  text-align: center;
  text-decoration: none;
  color: white;
}
#home #our-menu .our-menus .in-menu p {
  flex: 1;
  font-family: EBGaramond;
  text-align: center;
  font-size: 16px;
  color: var(--white);
  z-index: 1;
}
#home #our-menu .our-menus .in-menu img {
  position: absolute;
  margin-top: 17px;
  height: 93px;
  right: 27px;
}
#home #our-menu > a {
  min-width: 150px;
  width: 200px;
  border: none;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  background: transparent;
  color: var(--bg-color);
  background-color: var(--green-90);
  color: var(--white);
  margin-top: 7px;
  align-items: center;
  justify-content: center;
}
#home #our-menu > a:hover {
  background-color: var(--green-100);
}
#home #our-menu > a:active {
  background-color: var(--green-50);
}
#home #our-menu > a:hover {
  background-color: var(--green-hv);
}
#home #our-menu > a:active {
  background-color: var(--green-act);
}

@media (min-width: 1200px) {
  #home {
    position: initial;
    display: flex;
    width: 100%;
  }
  #home .photo > img {
    margin-top: -330px;
  }
  #home .photo h1 {
    margin: 0;
    margin-top: -325px;
    margin-bottom: 125px;
    align-self: flex-end;
    font-size: 100px;
    width: 50%;
    align-self: flex-end;
    z-index: 2;
  }
  #home h2 {
    color: var(--gray);
    text-transform: uppercase;
    font-size: 60px;
    font-weight: 400;
    text-align: left;
    margin: 100px var(--dspace);
  }
  #home #our-menu {
    top: 0;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  #home #our-menu .our-menus {
    width: 1240px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  #home #our-menu .our-menus .in-menu {
    flex-direction: column;
    width: 360px;
    height: 450px;
    align-items: flex-start;
    justify-content: center;
    position: initial;
    width: 100%;
    margin: 20px;
  }
  #home #our-menu .our-menus .in-menu .menu-title > hr {
    margin-top: 55px;
    border: none;
    border-top: var(--orange-100) solid 4px;
    width: 60px;
  }
  #home #our-menu .our-menus .in-menu .menu-title h3 {
    font-family: HBGaramond;
    font-size: 32px;
    text-transform: uppercase;
    margin-bottom: 45px;
    z-index: 1;
    text-shadow: var(--black) 1px 2px 3px;
  }
  #home #our-menu .our-menus .in-menu .menu-title h3 > a {
    text-align: center;
    text-decoration: none;
    color: white;
  }
  #home #our-menu .our-menus .in-menu p {
    font-family: JosefinSans;
    margin: 0;
    padding: 0;
    font-size: 22px;
    z-index: 1;
    text-shadow: var(--black) 1px 1px 1px;
  }
  #home #our-menu .our-menus .in-menu img {
    position: relative;
    justify-content: space-around;
    margin-top: -175px;
    height: 360px;
    margin-left: 18px;
    padding-left: 10px;
  }
  #home #our-menu > a {
    margin-top: 70px;
  }
}
#our-units {
  width: 100vw;
  flex-direction: column;
}
#our-units h2 {
  color: var(--gray);
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  margin: 40px 0;
}
#our-units .rio-de-janeiro-invite {
  flex-direction: column;
}
#our-units .rio-de-janeiro-invite p {
  margin: 0;
  font-family: EBGaramond;
  font-size: 16px;
  text-align: justify;
  margin: 0px 30px;
}
#our-units .rio-de-janeiro-invite .rio-de-janeiro-photo {
  flex-direction: column;
}
#our-units .rio-de-janeiro-invite .rio-de-janeiro-photo h3 {
  font-size: 22px;
  color: var(--orange-100);
  margin: 0 var(--mspace);
  margin-top: 20px;
}
#our-units .rio-de-janeiro-invite .rio-de-janeiro-photo img {
  width: 100%;
  margin-bottom: 20px;
}
#our-units .our-units-photos {
  flex-direction: column;
}
#our-units .our-units-photos .cities {
  flex-direction: column;
  width: calc(100vw - 20px);
  margin: var(--mspace);
  border: 1px solid var(--gray);
  align-items: center;
}
#our-units .our-units-photos .cities h4 {
  font-size: 16px;
  color: var(--gray);
  margin: 0;
  padding: 7px 0;
}
#our-units .our-units-photos .cities img {
  width: 95%;
  margin-bottom: 7px;
}

@media (min-width: 1380px) {
  #our-units h2 {
    color: var(--gray);
    text-transform: uppercase;
    font-size: 60px;
    font-weight: 400;
    text-align: left;
    margin: 100px var(--dspace);
  }
  #our-units .rio-de-janeiro-invite {
    margin: 0 var(--dspace);
    flex-direction: row-reverse;
    align-items: center;
  }
  #our-units .rio-de-janeiro-invite p {
    font-family: EBGaramond;
    font-size: 40px;
    font-weight: 300;
    width: 50%;
    padding: 50px;
    align-items: center;
  }
  #our-units .rio-de-janeiro-invite .rio-de-janeiro-photo h3 {
    font-size: 48px;
  }
  #our-units .rio-de-janeiro-invite .rio-de-janeiro-photo img {
    margin: 0;
  }
  #our-units .our-units-photos {
    flex-direction: row;
  }
}
#our-reservation {
  min-width: 320px;
  width: 100%;
  flex-direction: column;
  background-color: var(--red);
  padding: 0 var(--mspace);
}
#our-reservation form h2 {
  font-family: JosefinSans;
  font-size: 28px;
  font-weight: 600;
  color: var(--orange-100);
  text-shadow: var(--black) 0 1px 1px;
  text-transform: uppercase;
  text-align: center;
  margin: 50px 0;
}
#our-reservation form .fields {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
}
#our-reservation form .field {
  margin: 10px 0;
  position: relative;
  flex-direction: column;
  width: 250px;
  justify-content: center;
}
#our-reservation form .field label {
  font-size: 22px;
  color: var(--white);
  position: absolute;
  left: 10px;
}
#our-reservation form .field input, #our-reservation form .field textarea, #our-reservation form .field select {
  height: 40px;
  border: var(--white) 2px solid;
  line-height: 1.5em;
  padding-left: 70px;
  background-color: transparent;
  color: var(--black);
  font-size: 16px;
}
#our-reservation a {
  min-width: 150px;
  width: 200px;
  border: none;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  background: transparent;
  color: var(--bg-color);
  background-color: var(--green-90);
  color: var(--white);
  margin: 30px 0;
}
#our-reservation a:hover {
  background-color: var(--green-100);
}
#our-reservation a:active {
  background-color: var(--green-50);
}
#our-reservation a:hover {
  background-color: var(--green-hv);
}
#our-reservation a:active {
  background-color: var(--green-act);
}

@media (min-width: 1380px) {
  #our-reservation form h2 {
    font-size: 60px;
  }
  #our-reservation form .fields {
    flex-direction: row;
    justify-content: center;
  }
  #our-reservation form .fields .field {
    margin: 10px;
  }
  #our-reservation form .fields .field input {
    height: 50px;
  }
  #our-reservation form .fields a {
    margin-left: 5px;
  }
}
#form-contact {
  flex-direction: column;
}
#form-contact form {
  flex-direction: column;
}
#form-contact form h2 {
  color: var(--gray);
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  margin: 40px 0;
}
#form-contact form p {
  text-align: center;
  color: var(--gray);
  font-size: 16px;
  margin-bottom: 20px;
}
#form-contact form .fields {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0 var(--mspace);
}
#form-contact form .field {
  position: relative;
  flex-direction: column;
  width: 100%;
  margin-bottom: 10px;
}
#form-contact form .field label {
  font-size: 22px;
  color: var(--gray);
  position: absolute;
  top: 5px;
  bottom: 10px;
  left: 10px;
}
#form-contact form .field input, #form-contact form .field textarea, #form-contact form .field select {
  height: 70px;
  border: var(--gray) 2px solid;
  line-height: 1.5em;
  padding-left: 10px;
  background-color: transparent;
  color: var(--black);
  font-size: 24px;
}
#form-contact form .field input.message, #form-contact form .field textarea.message, #form-contact form .field select.message {
  height: 150px;
}
#form-contact .how-to-arrive div div {
  flex-direction: column;
}
#form-contact .how-to-arrive div div img {
  width: 100%;
}
#form-contact a {
  min-width: 150px;
  width: 200px;
  border: none;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  background: transparent;
  color: var(--bg-color);
  background-color: var(--green-90);
  color: var(--white);
  margin-top: 20px;
  margin-bottom: 50px;
}
#form-contact a:hover {
  background-color: var(--green-100);
}
#form-contact a:active {
  background-color: var(--green-50);
}
#form-contact a:hover {
  background-color: var(--green-hv);
}
#form-contact a:active {
  background-color: var(--green-act);
}
#form-contact #how-to-arrive div div {
  position: relative;
  margin: 0 25px;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  justify-content: flex-start;
}
#form-contact #how-to-arrive div div img {
  position: relative;
  justify-content: flex-start;
  width: 35px;
  top: 10px;
}
#form-contact #how-to-arrive div div img:first-child {
  left: 230px;
}
#form-contact #how-to-arrive div div img:last-child {
  left: 50px;
}
#form-contact #how-to-arrive div div span {
  position: absolute;
  font-size: 16px;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--gray);
  margin-top: 5px;
}
#form-contact #how-to-arrive div div span:first-child {
  left: 10px;
}
#form-contact #how-to-arrive div div span small {
  font-size: 12px;
  font-weight: 400;
}
#form-contact #google-map {
  width: 100%;
  margin: 0;
  padding: 0;
}

@media (min-width: 1380px) {
  #form-contact {
    flex-direction: row;
  }
  #form-contact form h2 {
    color: var(--gray);
    text-transform: uppercase;
    font-size: 60px;
    font-weight: 400;
    text-align: left;
    margin: 100px var(--dspace);
  }
}
#footer {
  width: 100%;
  height: 305px;
  flex-direction: column;
  margin: 0;
  padding: 0;
  margin-right: 0;
  position: relative;
  background-color: var(--brown-100);
  z-index: 1;
}
#footer button {
  transition: bottom 1s ease-in-out;
  position: absolute;
  right: var(--mspace);
  background-color: var(--orange-50);
  box-shadow: var(--black) 0 3px 6px;
  border: none;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  outline: none;
  justify-content: center;
  align-items: center;
  top: -35px;
  z-index: 1;
  cursor: pointer;
}
#footer button:hover {
  background-color: var(--white);
}
#footer #contact {
  flex-direction: column;
  font-family: EBGaramond;
  padding: 0 var(--mspace);
}
#footer #contact ul {
  width: 100%;
  margin: 0;
  padding: 0;
  flex-direction: column;
}
#footer #contact ul #title {
  font-size: 20px;
  text-transform: uppercase;
  margin: 20px 0;
}
#footer #contact ul li {
  width: 100%;
  margin-bottom: 0;
  font-family: EBGaramond;
  font-size: 16px;
  color: var(--white);
  font-weight: 600;
}
#footer #contact ul li img {
  margin: 0;
  flex-direction: row;
  margin-right: 10px;
}
#footer #contact #white-logo {
  width: 100%;
  margin: 0;
  padding: 0;
  flex-direction: column;
  justify-content: center;
}
#footer #contact #white-logo img {
  margin-top: 15px;
}
#footer #contact #white-logo p {
  font-family: EBGaramond;
  font-size: 18px;
  color: var(--white);
  justify-content: center;
  text-align: center;
}

#about {
  flex-direction: column;
  width: 250%;
  z-index: 1;
}
#about img {
  width: 100%;
  top: 0;
  margin-left: -165px;
}
#about #content {
  flex-direction: column;
  width: 100vw;
  margin: 0;
  margin-top: -100px;
}
#about h1 {
  font-size: 28px;
  font-weight: 600;
  margin: 0;
  margin-left: var(--mspace);
  color: var(--white);
}
#about p {
  font-family: EBGaramond;
  font-size: 14px;
  width: 100%;
  padding-top: 20px;
  padding-left: var(--mspace);
  padding-right: var(--mspace);
  margin: 0;
  background-color: var(--orange-70);
}
#about p:last-child {
  padding-bottom: 50px;
}

#menu {
  flex-direction: column;
  background-color: var(--brown-50);
}
#menu > section {
  flex-direction: column;
  margin-left: var(--mspace);
  margin-right: var(--mspace);
}
#menu > section header {
  flex-direction: column;
  font-size: 45px;
  color: var(--brown-100);
}
#menu > section header h1 {
  flex-direction: column;
  font-size: 45px;
}
#menu > section header div {
  background-color: var(--orange-100);
  height: 3px;
  width: calc(100% - var(--mspace));
  border: none;
  align-self: center;
}
#menu > section .section-menu {
  flex-direction: column;
}
#menu > section .section-menu .title {
  margin-top: var(--mspace);
  background-color: var(--orange-50);
  height: 60px;
}
#menu > section .section-menu .title h2 {
  font-size: 23px;
  color: var(--red);
  margin-left: var(--mspace);
}
#menu > section .section-menu > p {
  font-size: 15px;
  margin-top: 30px;
  margin-bottom: 45px;
}
#menu > section .items-section {
  flex-direction: column;
}
#menu > section .items-section .item-menu {
  flex-direction: column;
  width: calc(100% - var(--mspace));
  margin-bottom: 5px;
}
#menu > section .items-section .item-menu h3 {
  flex-direction: column;
  margin: -10px;
}
#menu > section .items-section .item-menu h3 svg {
  margin-left: var(--mspace);
}
#menu > section .items-section .item-menu .description-item {
  margin: 0;
}
#menu > section .items-section .item-menu hr {
  background-color: var(--red);
  height: 1px;
  width: calc(100% - var(--mspace));
  border: none;
  right: var(--mspace);
}
#menu > section .items-section .item-menu h4 {
  text-align: right;
}
#menu > section .items-section .item-menu .line-menu {
  align-items: center;
  width: 380px;
  overflow: hidden;
}
#menu .divisor {
  display: none;
}

@media (min-width: 1200px) {
  #menu {
    flex-direction: row;
    background-image: url(/assets/images/menu_tomato_bread.webp);
    max-height: initial;
    background-position-x: 80%;
    background-position-y: top;
  }
  #menu > section {
    margin-top: 115px;
    margin-bottom: 115px;
    background-color: var(--brown-50);
    width: calc((100vw - 50%));
    margin-left: var(--dspace);
  }
  #menu > section header {
    margin-left: var(--mspace);
  }
  #menu > section .section-menu .title {
    margin-left: var(--mspace);
    margin-right: var(--mspace);
  }
  #menu > section .section-menu .title h2 {
    margin-left: var(--mspace);
    margin-right: var(--mspace);
  }
  #menu > section .section-menu > p {
    margin-left: var(--mspace);
    margin-right: var(--mspace);
  }
  #menu > section .items-section .item-menu {
    margin-left: var(--mspace);
    margin-right: var(--mspace);
  }
}
#profile {
  flex-direction: column;
  width: 100%;
  height: 100vh;
  position: relative;
}
#profile section {
  width: 100%;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 92px;
}
#profile section > a img {
  width: 150px;
}
#profile section .auth {
  width: 100%;
  margin: 0;
  padding: 0;
  flex-direction: column;
  align-items: center;
  color: var(--orange-100);
}
#profile section .auth h1 {
  font-size: 32px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 10px;
}
#profile section .auth hr {
  width: 60px;
  border: none;
  border-top: var(--yellow) 2px solid;
  margin-bottom: 30px;
}
#profile section .auth .field {
  flex-direction: column;
  margin: var(--mspace);
  height: 70px;
  border: 1px var(--gray) solid;
  position: relative;
}
#profile section .auth .field input {
  width: 95%;
  border: none;
  position: absolute;
  top: 35px;
  left: 10px;
  font-size: 20px;
  color: var(--black);
}
#profile section .auth .field label {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 16px;
  color: var(--gray);
}
#profile section .actions {
  flex-direction: column;
  align-items: center;
}
#profile section .actions .action {
  margin-top: 70px;
}
#profile section .actions .action a {
  min-width: 150px;
  width: 200px;
  border: none;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  background: transparent;
  color: var(--bg-color);
  background-color: var(--green-90);
  color: var(--white);
  margin-top: 70px;
  align-items: center;
}
#profile section .actions .action a:hover {
  background-color: var(--green-100);
}
#profile section .actions .action a:active {
  background-color: var(--green-50);
}
#profile section .actions .action a:hover {
  background-color: var(--green-hv);
}
#profile section .actions .action a:active {
  background-color: var(--green-act);
}
#profile section .actions .action a:last-child {
  margin-top: 0;
}
#profile section .actions span {
  font-size: 16px;
  align-items: center;
  color: var(--gray);
  margin-top: 70px;
}
#profile .forget {
  display: none;
  width: 100%;
  margin: var(--mspace);
  padding: 0;
  flex-direction: column;
  align-items: center;
}
#profile .forget h1 {
  font-size: 32px;
  font-weight: 600;
  color: var(--orange-100);
  text-align: center;
  margin-bottom: 10px;
}
#profile .forget hr {
  border: none;
  width: 60px;
  border-top: var(--yellow) 2px solid;
  margin-bottom: 30px;
}
#profile .forget .forget-message {
  height: 50px;
  border: none;
  align-items: center;
  justify-content: center;
  margin: var(--mspace);
  border-top: var(--green-100) 1px solid;
  border-bottom: var(--green-100) 1px solid;
}
#profile .forget .forget-message img {
  margin-right: 10px;
}
#profile .forget .forget-message span {
  align-items: center;
  margin: 0;
  padding: 0;
  font-size: 20px;
  text-align: center;
  color: var(--green-100);
}
#profile p {
  margin-top: 100px;
}
#profile .hide {
  display: none;
}

#menu {
  flex-direction: column;
  background-color: var(--brown-50);
}
#menu > section {
  flex-direction: column;
  margin-left: var(--mspace);
  margin-right: var(--mspace);
}
#menu > section header {
  flex-direction: column;
  font-size: 45px;
  color: var(--brown-100);
}
#menu > section header h1 {
  flex-direction: column;
  font-size: 45px;
}
#menu > section header div {
  background-color: var(--orange-100);
  height: 3px;
  width: calc(100% - var(--mspace));
  border: none;
  align-self: center;
}
#menu > section .section-menu {
  flex-direction: column;
}
#menu > section .section-menu .title {
  margin-top: var(--mspace);
  background-color: var(--orange-50);
  height: 60px;
}
#menu > section .section-menu .title h2 {
  font-size: 23px;
  color: var(--red);
  margin-left: var(--mspace);
}
#menu > section .section-menu > p {
  font-size: 15px;
  margin-top: 30px;
  margin-bottom: 45px;
}
#menu > section .items-section {
  flex-direction: column;
}
#menu > section .items-section .item-menu {
  flex-direction: column;
  width: calc(100% - var(--mspace));
  margin-bottom: 5px;
}
#menu > section .items-section .item-menu h3 {
  flex-direction: column;
  margin: -10px;
}
#menu > section .items-section .item-menu h3 svg {
  margin-left: var(--mspace);
}
#menu > section .items-section .item-menu .description-item {
  margin: 0;
}
#menu > section .items-section .item-menu hr {
  background-color: var(--red);
  height: 1px;
  width: calc(100% - var(--mspace));
  border: none;
  right: var(--mspace);
}
#menu > section .items-section .item-menu h4 {
  text-align: right;
}
#menu > section .items-section .item-menu .line-menu {
  align-items: center;
  width: 380px;
  overflow: hidden;
}
#menu .divisor {
  display: none;
}

@media (min-width: 1200px) {
  #menu {
    flex-direction: row;
    background-image: url(/assets/images/menu_tomato_bread.webp);
    max-height: initial;
    background-position-x: 80%;
    background-position-y: top;
  }
  #menu > section {
    margin-top: 115px;
    margin-bottom: 115px;
    background-color: var(--brown-50);
    width: calc((100vw - 50%));
    margin-left: var(--dspace);
  }
  #menu > section header {
    margin-left: var(--mspace);
  }
  #menu > section .section-menu .title {
    margin-left: var(--mspace);
    margin-right: var(--mspace);
  }
  #menu > section .section-menu .title h2 {
    margin-left: var(--mspace);
    margin-right: var(--mspace);
  }
  #menu > section .section-menu > p {
    margin-left: var(--mspace);
    margin-right: var(--mspace);
  }
  #menu > section .items-section .item-menu {
    margin-left: var(--mspace);
    margin-right: var(--mspace);
  }
}
#error {
  width: 100%;
  height: 77vh;
  flex-direction: column;
  display: flex;
  align-items: center;
}
#error img {
  position: absolute;
  margin-top: 0;
  width: 250%;
  margin-left: 125px;
  z-index: 1;
}
#error .notice {
  flex-direction: column;
  margin-top: 100px;
  z-index: 2;
}
#error .notice span {
  font-size: 36px;
  font-weight: 600;
  color: var(--red);
  text-align: left;
}
#error .notice span:last-child {
  font-size: 24px;
  margin-top: 350px;
}

#auth {
  flex-direction: column;
  width: 100%;
  height: 100vh;
  position: relative;
}
#auth section {
  width: 100%;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 92px;
}
#auth section > a img {
  width: 150px;
}
#auth section .auth {
  width: 100%;
  margin: 0;
  padding: 0;
  flex-direction: column;
  align-items: center;
  color: var(--orange-100);
}
#auth section .auth h1 {
  font-size: 32px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 10px;
}
#auth section .auth hr {
  width: 60px;
  border: none;
  border-top: var(--yellow) 2px solid;
  margin-bottom: 30px;
}
#auth section .auth .field {
  flex-direction: column;
  margin: var(--mspace);
  height: 70px;
  border: 1px var(--gray) solid;
  position: relative;
}
#auth section .auth .field input {
  width: 95%;
  border: none;
  position: absolute;
  top: 35px;
  left: 10px;
  font-size: 20px;
  color: var(--black);
}
#auth section .auth .field label {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 16px;
  color: var(--gray);
}
#auth section .actions {
  flex-direction: column;
  align-items: center;
}
#auth section .actions .action {
  margin-top: 70px;
}
#auth section .actions .action a {
  min-width: 150px;
  width: 200px;
  border: none;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  background: transparent;
  color: var(--bg-color);
  background-color: var(--green-90);
  color: var(--white);
  margin-top: 70px;
  align-items: center;
}
#auth section .actions .action a:hover {
  background-color: var(--green-100);
}
#auth section .actions .action a:active {
  background-color: var(--green-50);
}
#auth section .actions .action a:hover {
  background-color: var(--green-hv);
}
#auth section .actions .action a:active {
  background-color: var(--green-act);
}
#auth section .actions .action a:last-child {
  margin-top: 0;
}
#auth section .actions span {
  font-size: 16px;
  align-items: center;
  color: var(--gray);
  margin-top: 70px;
}
#auth .forget {
  display: none;
  width: 100%;
  margin: var(--mspace);
  padding: 0;
  flex-direction: column;
  align-items: center;
}
#auth .forget h1 {
  font-size: 32px;
  font-weight: 600;
  color: var(--orange-100);
  text-align: center;
  margin-bottom: 10px;
}
#auth .forget hr {
  border: none;
  width: 60px;
  border-top: var(--yellow) 2px solid;
  margin-bottom: 30px;
}
#auth .forget .forget-message {
  height: 50px;
  border: none;
  align-items: center;
  justify-content: center;
  margin: var(--mspace);
  border-top: var(--green-100) 1px solid;
  border-bottom: var(--green-100) 1px solid;
}
#auth .forget .forget-message img {
  margin-right: 10px;
}
#auth .forget .forget-message span {
  align-items: center;
  margin: 0;
  padding: 0;
  font-size: 20px;
  text-align: center;
  color: var(--green-100);
}
#auth p {
  margin-top: 100px;
}
#auth .hide {
  display: none;
}

/*# sourceMappingURL=main.css.map */
