@font-face {
  font-family: "JosefinSans";
  src: local("JosefinSans Light"), url("../fonts/JosefinSans-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "JosefinSans";
  src: local("JosefinSans Regular"), url("../fonts/JosefinSans-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "JosefinSans";
  src: local("JosefinSans SemiBold"), url("../fonts/JosefinSans-SemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "JosefinSans";
  src: local("JosefinSans Bold"), url("../fonts/JosefinSans-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: "EBGaramond";
  src: local("EB Garamond Regular"), url("../fonts/EBGaramond-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "EBGaramond";
  src: local("EB Garamond Regular"), url("../fonts/EBGaramond-SemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
}
:root {
  --bg-color: #FFF;
  --black: #000;
  --gray: #707070;
  --red: #A13B16;
  --brown-50: #F1C59D;
  --brown-100: #610802;
  --yellow: #F1C40F;
  --orange-50: #F7DFC9;
  --orange-70: #F1C59D;
  --orange-100: #E67D20;
  --gree-50: #C3F3D8;
  --green-90: #27AE60;
  --green-100: #16A085;
  --mspace: 10px;
  --dspace: 40px;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
}

body, div, article, aside, footer, header, main, nav, section, ul, ol, li, button, figure, picture, hr {
  display: flex;
}

body {
  margin: 0;
  flex-direction: column;
  background-color: var(--bg-color);
}
body > main {
  min-height: calc(100vh - 400px);
}

body {
  min-width: 320px;
  display: flex;
  width: 100%;
}

#header {
  width: 100%;
  height: 92px;
  position: relative;
  flex-direction: column;
  background-color: var(--red);
  align-items: center;
}
#header .menu {
  position: absolute;
  right: 0;
  margin-top: calc(92px / 2 - 20px);
  padding: var(--mspace);
}
#header .logomix {
  margin-top: 46px;
  right: calc(100vw / 2 - 79px);
}

#home {
  max-width: 100%;
  height: 100vh;
}
#home #main-photos {
  flex-direction: column;
  justify-content: center;
  z-index: 1;
}
#home #main-photos img {
  height: 312px;
  align-items: center;
  margin-left: -30px;
  z-index: 2;
}

#footer {
  width: 100%;
  height: 305px;
  flex-direction: column;
  margin: 0%;
  background-color: var(--brown-100);
}
#footer #contact {
  flex-direction: column;
  font-family: EBGaramond;
  padding: 0 var(--mspace);
}
#footer #contact ul {
  width: 100%;
  margin: 0;
  flex-direction: column;
}
#footer #contact ul #title {
  font-size: 20px;
  text-transform: uppercase;
  margin: 20px 0;
}
#footer #contact ul li {
  width: 100%;
  margin-bottom: 0;
  font-family: EBGaramond;
  font-size: 16px;
  color: var(--bg-color);
  font-weight: 600;
  margin-bottom: 5px;
}
#footer #contact ul li img {
  margin: 0;
  flex-direction: row;
  margin-right: 10px;
}
#footer #contact #white-logo {
  flex-direction: column;
  justify-content: center;
}
#footer #contact #white-logo p {
  font-family: EBGaramond;
  font-size: 18px;
  color: var(--bg-color);
  justify-content: center;
  text-align: center;
}

/*# sourceMappingURL=main.css.map */
